<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>前台栏目查看</title>	
	<link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/index1/'?>css/index.css">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/index1/'?>css/public.css">
	<style type="text/css">

	</style>
</head>
<body>
	<?php	
		
		$this->load->view('index1/head.html');
	?>
	<div class="cate_main">
		<nav class="cate_main_a">
			<form>
				<span class="cate_main_b"><a class="cate_main_ab" href="<?php echo site_url()?>" >网站首页</a></span>
				<?php foreach($cname as $v):?>
				<span class="cate_main_c"><a class="cate_main_ab" href="<?php  echo site_url().'/welcome/category/'.$v['cid']?>"><?php echo $v['cname']?></a></span>
				<?php endforeach?>
				<span class="cate_main_d">时光不停的旋转，而奔波永不休止。</span>
			</form>
		</nav>
	</div>
	<p class="cate_bian"><img src="<?php echo base_url().'/style/index1/'?>images/border.jpg"width="1000" height="20"/></p>
	<div class="cate_main_z">
		<?php foreach($article as $v):?>
		<h3><a href="<?php  echo site_url().'/welcome/article/'.$v['aid']?>"  target="_blank" class="cate_readmore_a"><?php echo $v['title']?></a></h3>
		<ul class="cate_main_abc">
			<span class="cate_main_aba"><img src="<?php echo base_url().'uploads/'.$v['thumb']?>"width="180" height="150"/></span>
			<span class="cate_main_ac"><?php echo $v['abstract']?>
				<a  href="<?php  echo site_url().'/welcome/article/'.$v['aid']?>"  target="_blank" class="cate_readmore">阅读全文>></a>
			</span>
			<p class="cate_main_f">
				<span><?php echo $v['date']?></span>  
				<span>作者：<?php echo $v['writer']?></span>
			</p>
		</ul>
		<?php endforeach ?>
	</div>
	<div class="cate_right_"><span><img src="<?php echo base_url().'/style/index1/'?>images/borders.jpg" width="20"	height="1100"></span>
	</div>
	<div>
		<form class="cate_right_fm">
			<span class="cate_right_sp">
			<?php echo $this->calendar->generate();?>
			</span>
		</form>
		
		<ul	class="cate_ul_a">
			<p class="cate_left_sp">最新<span class="cate_ul_b">文章</span></p>
			<?php foreach($title as $v):?>
			<li	class="cate_li_a" style="margin:10px 0px;"><a href="<?php  echo site_url().'/welcome/article/'.$v['aid']?>"><?php echo $v['title']?></a></li>
			<?php endforeach?>
		</ul>
	</div>
	<div>
	<?php $this->load->view('index1/foot.html');?>
	</div>
</body>
</html>